<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALEJANDRO FIGUEROA DEV</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="header">
        <div class="nombre">
          ALEJANDRO FIGUEROA DELGADO
          <br>
          <span class="perfil">INGENIERO EN TECNOLOGÍAS DE LA INFORMACIÓN</span>
        </div>
        <div class="menu-container">
          <button class="menu-button">
            <img src="\assets\images\menu.png" alt="Menú" class="menu-icon">
          </button>
          <div class="menu-options">
            <a href="mi-perfil">Perfil</a>
            <a href="descargas">Descargas</a>
            <a href="redes">Redes Sociales</a>
            <a href="contacto">Contactame</a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>

<footer class="footer">
  <div class="container">
    <p>Frase de pie de página</p>
    <p>&copy; 2023 Tu Marca de Agua</p>
  </div>
</footer>

</html>